$cream: #faefc5;
$blue: #328BD0;
$baby-blue: #6BC4FF;
$grey: #ACBDD6;
$pink: #ffcbc5;
body, input {
  font-family: 'Lato', sans-serif;
}
body {
  background: #fff;
  font-size: 18px;
  width: 100%;
  color: #000;
  padding: 0px;
  margin: 0px;
}
a {
 color: $blue;
}
div#header {
  border-bottom: 1px solid #000;
  padding-bottom: 10px;
  h1 {
   width: 960px;
   margin: 70px auto 0px auto;
   img {
     float: left;
   }
   div {
     float: left;
     font-size: 14px;
     font-style: italic;
     margin-left: 15px;
     width: 210px;
   }
  }
}

div#container{
 width: 960px;
 margin: 20px auto;
}
div.cream {
  margin-top: 42px;
  float: left;
  background-color: $cream;
  padding: 30px;
  padding-bottom: 40px;
  text-align: justify;
  line-height: 28px;
  width: 480px;
  h3 {
    margin-bottom: 20px;
    margin-top: 20px;
    font-weight: bold;
    font-size: 24px;
  }
  h4 {
    margin-bottom: 10px;
    margin-top: 15px;
  }
}
span.blue {
  background-color: $blue;
  color: #fff;
  padding: 1px 2px;
}
div.action{
  margin-top: 115px;
  float: left;
  width: 333px;
  margin-left: 30px;
  h2 {
   color: $blue;
   font-size: 36px;
   line-height: 40px;
   margin-bottom: 16px;
   font-weight: bold;
  }
  h4 {
   color: #000;
   font-weight: bold;
   font-size: 24px;
   line-height: 28px;
  }
  .actions {
    margin-top: 75px;
  }
}
div.arrow {
  width: 0;
  height: 0;
}
div.arrow-right {
  margin-top: 120px;
  float: left;
  border-top: 25px solid transparent;
  border-bottom: 25px solid transparent;
  border-left: 20px solid $cream;
}
div.arrow-top {
  margin-top: 10px;
  float: right;
  margin-right: 40px;
  border-left: 25px solid transparent;
  border-right: 25px solid transparent;
  border-bottom: 20px solid $cream;
}
.button {
  color: #000;
  text-decoration: none;
  display: block;
  @include border-radius(5px);
  color: #142c41;
}
.button.active {
  padding: 20px 40px;
  background-color: $baby-blue;
  @include box-shadow($grey 2px 2px 2px, $grey -2px 2px 2px, $grey 2px -2px 2px, $grey -2px -2px 2px);
  float: left;
}
.button.inactive {
  background-color: #dddddd;
  font-size: 14px;
  float: right;
  margin-top: 20px;
  @include box-shadow(#c6cbd8 2px 2px 2px, #c6cbd8 -2px 2px 2px, #c6cbd8 2px -2px 2px, #c6cbd8 -2px -2px 2px);
  padding: 10px 20px;
}

.clear {
  clear: both;
}
#superform {
  display: none;
  margin-bottom: 140px;
  h4 {
    margin-left: 8px;
    margin-top: 10px;
  }
  form {
    margin-top: 30px;
    background-color: $cream;
    padding: 30px 42px;
    h3 {
      color: #010101;
      font-weight: bold;
      margin-bottom: 12px;
    }
    input[type="text"], input[type="email"] {
      height: 40px;
      padding: 5px 10px 5px 10px;
      margin-right: 15px;
      float: left;
      width: 240px;
      border: 1px solid #647d9a;
      @include box-shadow(#dbdbdb 1px 2px 4px 2px inset, #dbdbdb -1px 2px 4px 2px inset);
      @include border-radius(5px);
      font-size: 18px;
    }
    input[type="submit"] {
      border: 0px;
      font-size: 18px;
      font-weight: bold;
      padding: 15px 30px;
      margin-left: 35px;
    }
  }
}

#socialbox {
  a {
    text-decoration: none;
    margin-left: 25px;
    float: right;
  }
}
#lastpage {
  .creamish{
    background-color: $cream;
    padding: 25px;
    margin-top: 30px;
    margin-bottom: 55px;
    line-height: 28px;
    p {
       margin-bottom: 10px;
    }
  }
  h4 {
    font-size: 24px;
    line-height: 28px;
    margin-top: 20px;
    font-weight: bold;
    width: 560px;
    float: left;
  }
  #socialbox {
    float: right;
    margin-top: 30px;
  }
}
#superform, #lastpage {
  h2 {
    color: $blue;
    font-size: 36px;
    margin-top: 20px;
    width: 690px;
    margin-left: 8px;
    line-height: 40px;
  }
}

div.pinky{
  float: left;
  background-color: $pink;
  padding: 30px;
  padding-bottom: 50px;
  padding-top: 50px;
  text-align: justify;
  line-height: 26px;
  width: 280px;
  font-size: 18px;
  h3 {
    margin-bottom: 20px;
    margin-top: 20px;
    font-weight: bold;
    font-size: 24px;
  }
}
div.pinky-arrow {
  margin-top: 10px;
  float: right;
  margin-right: 40px;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-bottom: 10px solid $pink;
}
.shy {
 display: none;
}
.clearfix:after {
	content: ".";
	display: block;
	visibility: hidden;
	clear: both;
	height: 0;
}

.ie7 .clearfix {
	zoom: 1;
}
.sharing-widgets {
  float: left;
  margin-left: 20px;
  div.widget {
    float: left;
   }
}
